/*/////////////////////////////////CUERPO-PAG1////////////////////////////////////*/

.fondo-inicio {
    background-image: url(../assets/img/fondo-inicio-index/fondo-inicio.jfif)
}
body main .titulo h1 {
    color: #ffffff;
    font-size: 90px;
    display: inline-block;
    
}
.titulo .equipo-color {
    color: #ffff00;
}

.flex-pag1{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 85vh;
}
.hover :hover{
    color:#ffff00;
}
.unirme-color {
    background-color: #ffff00;
    .letras{
        font-size: 25px;
        color: #000000;
        padding: 0 5px;
    }
}