//navbar/////////////////////////////////////////////////////////////////////////////
.navbar-brand img{
    height: 70px;
    width: 70px;
}
.nav-item a{
    font-size: 25px;
    color: #ffffff;
}
.navbar-brand p{
    display: inline;
    font-size: 28px;
    color: #ffff00;
}
.navbar-nav a:hover{
    color: #ffff00;
    font-weight: bold;
}
