
//repaldooooooooooooooooooooooooooooooooooooooooo
* {
    margin: 0;
    padding: 0 ;
    list-style: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
    user-select: none;
    text-decoration: none;
}

a:hover{
    color: #ffff00;
    font-weight: bold;
    transition: .5s;
}

.navbar-brand img{
    height: 70px;
    width: 70px;
}
.nav-item a{
    font-size: 22px;
    color: #ffffff;
}
.navbar-brand p{
    display: inline;
    font-size: 25px;
    color: #ffff00;
}
///////////////////////////////////////////////*EDICION-FOOTER*/

footer {
    background-color: #ffff00;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 80px;
    bottom: 0;
}

footer div img {
    height: 30px;
    width: 30px;
}

footer div ul li {
    display: inline-block;
    font-size: 15px;
    text-align: center;
    justify-content: center;
    margin-left: 100px;
}

footer div ul{
    margin: 0;
}
//indexxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
.fondo-inicio {
    background-image: url(../assets/img/fondo-inicio-index/fondo-inicio.jfif)
}
body main .titulo h1 {
    color: #ffffff;
    font-size: 90px;
    display: inline-block;
    
}
.titulo .equipo-color {
    color: #ffff00;
}

.flex-pag1{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 85vh;
    margin: 0;
    justify-content: center;
}
.hover :hover{
    color:#ffff00;
}
.unirme-color {
    background-color: #ffff00;
    .letras{
        font-size: 25px;
        color: #000000;
        padding: 0 5px;
    }
}
/*//////////////////////////////////////////CUERPO-PAG2/////////////////////////////////////////////*/

.fondo-nosotros {
    background-color: #000000ab;
}
.titu-pag-nos{
    h1{
        color: #ffff00;
        font-size: 60px;
        text-align: center;
    }
    .color-aslan{
        color: #f0ffff;
    }
    h2{
        color: #f0ffff;
        font-size: 30px;
        text-align: center;
        margin: 30px 0;
    }
    .color-h2{
        color: #ffff00;
    }
}
/*////////////////////////////////CUERPO-PAG3/////////////////////////////////GRILLAS//////////////////////////*/

.fondo-actividades {
    background-color: #808080;
}

.contenedor-grillas {
    margin: 0 5px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: min-content 1fr 1fr 1fr;
    column-gap: 5px;
    row-gap: 30px;
    margin-bottom: 20px;
    justify-items: center;
    grid-template-areas:
        "act-h1 act-h1 act-h1"
        "img1 img2 img3"
        "img4 img5 img6"
        "img7 img8 img9"
    ;
}

.act-h1 {
    grid-area: act-h1;
    margin: 0 auto;
}

.img1 {
    grid-area: img1;
}

.img2 {
    grid-area: img2;
}

.img3 {
    grid-area: img3;
}

.img4 {
    grid-area: img4;
}

.img5 {
    grid-area: img5;
}

.img6 {
    grid-area: img6;
}

.img7 {
    grid-area: img7;
}

.img8 {
    grid-area: img8;
}

.img9 {
    grid-area: img9;
}

.act-fondo img {
    width: 400px;
    height: 210px;
}

.contenedor-grillas .act-h1 {
    font-size: 70px;
    color: #ffff00;
}

.contenedor-grillas .nuestras-titulo {
    color: #ffffff;
}

.card {
    width: 400px;
    height: 210px;
    display: grid;
    grid-template-rows: minmax(100%, 1fr);
    grid-template-areas: "stack";
    overflow: hidden;
}

.card img,
.card figcaption {
    grid-area: stack;
}

.card figcaption {
    background-color: #242424e0;
    transform: translateY(calc(100% - 40px));
    transition: transform 0.6s;
    color: #f0ffff;
    text-align: center;
}

.card figcaption h3 {
    height: 40px;
    font-size: 30px;
}

.card figcaption p {
    font-size: 15px;
    color: #ffff00;
}

.card:hover figcaption {
    transform: none;
}





/*///////////////////////////////////////////////CUERPO-PAG4////////////////////////////////////*/


.horar {
    background-color: #808080;
    height: 90vh;
    h1{
        display: flex;
        font-size: 60px;
        justify-content: center;
        padding: 20px 0;
        color: #ffff00
    }
    .horarios-caja button{
        margin-top: 20px;
        font-size: 25px;
        font-family: system-ui;
        justify-content: flex-start;
        color: #f0ffff;
    }
    .accordion-button::after{
        justify-content: end;
    }
    .accordion-body{
        background-color: #ffff00;
    }
}
.accordion-body{
    p{
        font-size: 30px;
        text-align: center;
        font-weight: bolder;
    }
    .turnos-horarios{
        font-size: 23px;
        text-align: center;
    }

}



/*//////////////////////////////////////CUERPO-PAG5///////////////////////////////////////////*/



  

  .bg-contacto{
    background-color: #808080;
    min-height: 83vh;
    margin: 0;
    h1{
        text-align: center;
        font-size: 50px;
        color: #ffff00;
        margin-bottom: 10px;
    }

    .form-contacto {
        display: inline-block;
        width: 400px;
        text-align: left;
        padding: 5px;
        border: 2px solid #000000;
        border-radius: 5px;
        background-color: #ffff00;
        margin: 30px 20px;
      }

      label {
        display: block;
        font-size: 20px;
        font-weight: bold;
      }
      
      input,
      textarea {
        width: 100%;
        padding: 10px 10px;
        margin-bottom: 10px;
        border: 1px solid #000000;
        border-radius: 4px;
        box-sizing: border-box;
        font-size: 16px;
      }
      
      input[type="submit"] {
        background-color: #4caf50;
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
      }
      
      input[type="submit"]:hover {
        background-color: #45a049;
      }
    .contenedor-contacto{
        display: flex;
        margin: 0 auto;
        justify-content: center;
    }
  }



@media (min-width: 320px) and (max-width: 740px){
    footer div ul li{
        margin-left: 30px;
    }

    .contenedor-grillas {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(9, min-content);
        row-gap: 20px;
        margin: 0 0 20px 0;
        justify-items: center;
        grid-template-areas:
            "act-h1" "act-h1" "act-h1"
            "img1" "img2" "img3"
            "img4" "img5" "img6"
            "img7" "img8" "img9"
        ;
    }
    .contenedor-grillas .act-h1{
        font-size: 40px;
        text-align: center;
    }
    .act-fondo img , .card{
        width: 90vw;
    }

    .fondo-nosotros .titu-pag-nos h1{
        font-size: 40px;
    }
    .fondo-nosotros .titu-pag-nos h2{
        font-size: 20px;
    }

    .bg-contacto .titulo-contacto{
        font-size: 40px;
    }
    .bg-contacto .contenedor-contacto{
        display: block;
        iframe{
            width: 300px;
            height: 350px;
            margin: 10px 10px;
        }
        .form-contacto{
            width: 300px;
            margin: 10px 10px;
        }
    }

}

@media (min-width: 740px) and (max-width: 1223px){
    .contenedor-grillas {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(9, min-content);
        row-gap: 20px;
        justify-items: center;
        grid-template-areas:
            "act-h1" "act-h1" "act-h1"
            "img1" "img2" "img3"
            "img4" "img5" "img6"
            "img7" "img8" "img9"
        ;
    }
    .contenedor-grillas .act-h1{
        font-size: 55px;
        text-align: center;
    }
    .act-fondo img , .card{
        width: 60vw;
        height: 300px;
    }
}

@media (max-width: 465px) {
    footer div ul li , p{
        font-size: 12px;
        margin-left: 0;
    }
}
@media (max-width: 992px){
    .carousel-media{
        display: block;
    }
}
@media (max-width: 1150px){
    body main .titulo h1{
        font-size: 50px;
        text-align: center;
        margin-bottom: 30px;
    }
}


