/*////////////////////////////////CUERPO-PAG3/////////////////////////////////GRILLAS//////////////////////////*/

.fondo-actividades {
    background-color: #808080;
}

.contenedor-grillas {
    margin: 0 5px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: min-content 1fr 1fr 1fr;
    column-gap: 5px;
    row-gap: 30px;
    margin-bottom: 20px;
    justify-items: center;
    grid-template-areas:
        "act-h1 act-h1 act-h1"
        "img1 img2 img3"
        "img4 img5 img6"
        "img7 img8 img9"
    ;

    .act-h1 {
        font-size: 70px;
        color: #ffff00;
    }
    .nuestras-titulo {
        color: #ffffff;
    }

}

.act-h1 {
    grid-area: act-h1;
    margin: 0 auto;
}

.img1 {
    grid-area: img1;
}

.img2 {
    grid-area: img2;
}

.img3 {
    grid-area: img3;
}

.img4 {
    grid-area: img4;
}

.img5 {
    grid-area: img5;
}

.img6 {
    grid-area: img6;
}

.img7 {
    grid-area: img7;
}

.img8 {
    grid-area: img8;
}

.img9 {
    grid-area: img9;
}

.act-fondo {
    img{
        width: 400px;
        height: 210px;
    }
    .card {
        width: 400px;
        height: 210px;
        display: grid;
        grid-template-rows: minmax(100%, 1fr);
        grid-template-areas: "stack";
        overflow: hidden;
    }
    .card img,
    .card figcaption {
    grid-area: stack;
    }
    .card figcaption {
        background-color: #242424e0;
        transform: translateY(calc(100% - 40px));
        transition: transform 0.6s;
        color: #f0ffff;
        text-align: center;
    }
    .card figcaption h3 {
        height: 40px;
        font-size: 30px;
    }
    
    .card figcaption p {
        font-size: 15px;
        color: #ffff00;
    }
    
    .card:hover figcaption {
        transform: none;
    }
}